@use "../../abstracts" as *;

.total-budget {
  font-family: $font-family-mono;
  font-weight: $font-weight-semibold;
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  @include font-responsive(lg);
}

.total-secondary {
  color: $gray-700;
  @include font-responsive(sm);

  .total-budget {
    @include font-responsive(base);
  }
}
